# Git
.github/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore

# Development files
.editorconfig export-ignore
composer.lock export-ignore

# Tests
.php-cs-fixer.dist.php export-ignore
phpunit.xml.dist export-ignore
tests/ export-ignore
